name: main

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            max-parallel: 12
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                python-version: [3.10.3]

        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip --editable ".[test,lint,docs]"

            - name: Check package installation
              run: |
                  python -c "import cro.rundown.sdk"

            - name: Check code format with 'black'
              run: |
                  black . --check --exclude "(docs/|build/|dist/|\.git/|\.mypy_cache/|\.tox/|\.venv/\.asv/|env|\.eggs)"

            - name: Check import order with 'isort'
              run: |
<<<<<<< HEAD
<<<<<<< HEAD
                  isort . --check
=======
                  isort -c -df -rc .
>>>>>>> e88e823 (Fix CI)
=======
                  isort . --check
>>>>>>> 0af09ca (Fix CI)

            - name: Lint the code
              run: |
                  #flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
                  #flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

            - name: Test the code
              run: |
                  pip install pytest
                  python -X utf8 -m pytest -m domain
